@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SYDNEY SCRUB</h1>
    <p>AN ALL NATURAL WAY TO GET RID OF THOSE PESKY HAIR BUMPS, RAZOR BUMPS, BLACK HEADS AND MORE!</p>
</div>

<div> </div>



